{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block head_title %}
    <title>EconoPower</title>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon">
    {% endblock head_title %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}">
    
    {% block extra_head %}{% endblock extra_head %}

</head>
<body>

{% block body %}
<!--Logados-->
<div class="menu">
  {% if user.is_authenticated %}
    <nav>   <!--Mudar aqui depois-->
      <div class="dot"></div>
      <ul>
        <li class="active"><a href="{% url 'pagina_home' %}">Inicio</a></li>
        <li><a href="{% url 'account_email' %}">Mudar email</a></li>
        <li><a href="{% url 'account_logout' %}">Sair</a></li>
        <li><a href="#">More</a></li>
      </ul>
    </nav> <!-- ate aqui -->
  

  {% else %}
  <!--Não logados-->
  <nav>  
    <div class="dot" id="dot"></div>
    <ul id="ul">
      <li class="active"><a href="{% url 'pagina_home' %}">Inicio</a></li>
      <li><a href="{% url 'account_login' %}">Entrar</a></li>
      <li><a href="{% url 'account_signup' %}">Cadastro</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">More</a></li>
    </ul>
  </nav>

  {% endif %}
</div>
<!-- partial -->
<script src="{% static 'vendores/base/jquery.min.js' %}"></script>
<script  src="{% static 'js/base.js' %}"></script>
{% endblock body %}

<div class="conteudo">
{% block content %}
{% endblock content %}
</div>

{% block extra_body %}
{% endblock extra_body %}

</body>
</html>