{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}"> {% endcomment %}
{% endblock extra_head %}


{% block content %}

    {% if user.is_authenticated %}
    <h1>Ola, esta é a Home do site EconoPower, eescolha que ação deseja tomar atraves do menu de ferramentas</h1>
    <p>logado</p>

    {% else %}
    <p>não logado</p>
    <h1>Bem-Vindo ao Site da ECONOPOWER, um projeto desenvolvido por alunos do IFTO Campus Colinas do Tocantins</h1>
    <img src="{% static 'img/EconoPower_Hardware.png' %}" alt="Hardware desenvolvido no projeto EconoPower" sizes="">
    {{get_full_name}}
    
    {% endif %}


{% endblock content %}