html, body{
    background-color: green;
    color: white;
} 
/* .conteudo{ */
    /* margin-left: 18%; */
    /* margin-top: 5%;} */
    
/* 
    background-image: url(/static/img/EconoPower_Hardware.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
 */